extends layout 
block  contenido
    .contenido-principal 
        .modal-dialog 
        .modal-content
            //
            .modal-header 
                h4#myModalLabel.modal-title #{nombrePagina}
            .modal-body     
                form(role='form' method='POST' action=`/editar-camicon/${Editarcamion.id}` data-toggle="validator")
                    .form-group 
                        label(for="placa") placa camion
                        input#name.form-control(type="text" placeholder="dijite la placa" value=`${Editarcamion.placa}` name='placa' required autofocus)
                    .form-group 
                        label(for="modelo") modelo camion
                        input#name.form-control(type="text" placeholder="dijite el modelo" value=`${Editarcamion.modelo}` name='modelo' required)
                    .form-group 
                        label(for="potencia") potencia camion
                        input#name.form-control(type="text" placeholder="dijite la potencia" value=`${Editarcamion.potencia}` name='potencia' required)
                    .form-group 
                        label(for="tipo") tipo camion
                        input#name.form-control(type="text" placeholder="dijite el tipo" value=`${Editarcamion.tipo}` name='tipo' required)
                    button.btn.btn-primary(type="submit" name="agregar") Agregar 
            .modal-footer 
                h5 footer 
            p.foot.text-x5-center test
