extends layout 
block contenido
    div 
        .container  
            a.btn.btn-outline-primary.mt-4(href="/camionero") registar camioneros
                i.bx.bxs-plus-circle.bx-md(<='' i='')
        div 
            if(camionero.length)
                table.table.tabled-bordered.table-striped.text-center.mt-2 Listado de camioneros
                    thead 
                        tr.bg-primary.text-white 
                            th(scope="col")
                                | id
                            th(scope="col")
                                | nombre
                            th(scope="col")
                                | telefono 
                            th(scope="col")
                                | direccion 
                            th(scope="col")
                                | Opcion
                    tbody
                        each camioneros in camionero
                            tr
                                td=camioneros.id
                                td=camioneros.nombre
                                td=camioneros.telefono
                                td=camioneros.direccion
                                td  
                                    a.btn.btn-warning.mt-2(href='/editar-camionero/'+ `${camioneros.id}`)
                                        i.bx.bxs-pencil.bx-xs(<='' i='')
                                    //- metodo para borrar
                                    //- a.btn.btn-danger.mt-2(id='eliminar-empresa' type='button' href='/borrar-empresas/'+ `${empresa.id_empresa}`)
                                    //-     i.bx.bxs-trash-alt.bx-xs(<='' i='')
                                    //- metodo que usa una alerta
                                    a.btn.btn-danger.mt-2(onclick=`btnEliminarCamionero(${camioneros.id})` id='eliminar-camion' type='button')
                                        i.bx.bxs-trash-alt.bx-xs(<='' i='')
            else 
                h1 No hay camioneros