extends layout 
block contenido
    div 
        .container  
            a.btn.btn-outline-primary.mt-4(href="/nuevo-conductor") nuevo conductor
                i.bx.bxs-plus-circle.bx-md(<='' i='')
        div 
            if(conductores.length)
                table.table.tabled-bordered.table-striped.text-center.mt-2 Listado de conductores 
                    thead 
                        tr.bg-primary.text-white 
                            th(scope="col")
                                | id
                            th(scope="col")
                                | nombre_conductor
                            th(scope="col")
                                | apellido_conductor
                            th(scope="col")
                                | num_celular_conductor 
                            th(scope="col")
                                | correo_conductor
                            th(scope="col")
                                | seleccione empresa
                            th(scope="col")
                                | Opcion
                    tbody
                        each conductor in conductores 
                            tr 
                                td=conductor.idconductor
                                td=conductor.nombre_conductor
                                td=conductor.apellido_conductor
                                td=conductor.num_celular_conductor 
                                td=conductor.correo_conductor
                                td=conductor.empresa_id
                                td  
                                    a.btn.btn-warning.mt-2(href='/editar-conductor/'+ `${conductor.idconductor}`)
                                        i.bx.bxs-pencil.bx-xs(<='' i='') 
                                    //- metodo para borrar
                                    //- a.btn.btn-danger.mt-2(id='eliminar-conductor' type='button' href='/borrar-conductor/'+ `${conductor.idconductor}`)
                                    //-     i.bx.bxs-trash-alt.bx-xs(<='' i='')
                                    //- metodo que usa una alerta
                                    a.btn.btn-danger.mt-2(onclick=`btnEliminarConstructor(${conductor.idconductor})` id='eliminar-conductor' type='button')
                                        i.bx.bxs-trash-alt.bx-xs(<='' i='') 

